.layout-content {
  display: flex;
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  box-sizing: border-box;
}

.curriculum {
  display: none;
  position: sticky;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 1rem;
  flex-direction: column;
  border-right: 1px solid rgb(229 231 235);
  width: 16rem;
  top: 65px;
  height: calc(100vh-65px);
}

.curriculum-title {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  margin-bottom: 12px;
}

.content-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-intro {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main-title {
  font-size: 2.25rem;
  line-height: 2rem;
  font-weight: 900;
  line-height: 1.25;
}

.main-desc {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--ifm-font-color-secondary);
}

.button-row {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-direction: column;
  gap: 1rem;
}
.chapter-grid-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.section-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: -0.025em;
}
.chapter-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

@media (min-width: 640px) {
  .button-row {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .chapter-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .curriculum {
    display: flex;
  }
}
@media (min-width: 1280px) {
  .curriculum {
    width: 18rem;
  }
}
