.page-toc {
  display: none;
  position: sticky;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 1rem;
  flex-direction: column;
  border-right: 1px solid rgb(229 231 235);
  width: 16rem;
  top: 65px;
  height: calc(100vh-65px);
}

.page-toc-title {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  margin-bottom: 12px;
}

.page-toc-nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.page-toc-link {
  padding: 4px 0 4px 16px;
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--ifm-color-emphasis-600);
  border-left: 2px solid transparent;
  transition: color 0.2s, border 0.2s;
}

.page-toc-link:hover {
  color: var(--ifm-color-primary);
  border-color: var(--ifm-color-primary);
}

.page-toc-link.active {
  color: var(--ifm-color-primary);
  border-color: var(--ifm-color-primary);
}

@media (min-width: 1024px) {
  .page-toc {
    display: flex;
  }
}
@media (min-width: 1280px) {
  .page-toc {
    width: 18rem;
  }
}
